<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="shoppingForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" formControlName="name">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" class="form-control" name="amount" formControlName="amount" >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" 
                    type="submit" [disabled]="!shoppingForm.valid">{{ editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger" type="button" (click)="onDelete()" >Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>