<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li *ngIf="!isAuthenticated"><a routerLink="/auth">Authenticate</a></li>
                <li *ngIf="isAuthenticated"><a routerLink="/recipes">Recipes</a></li>
                <li><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
                </li>
                <li *ngIf="isAuthenticated" class="dropdown" appDropdown>
                    <a  class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a (click)="onSaveData()">Save Data</a></li>
                        <li><a (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
